
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}

<div class="clearfix">
</div>
<div class="page-index">
    <div class="container">
        <p>
            Home - Sản phẩm
        </p>
    </div>
</div>

<div class="container_fullwidth">
    <div class="container">
        <div class="clearfix"></div>
        <div class="featured-products">
            <div>
                <h2>Đặt hàng thành công</h2>
                <a href="@Url.Action("Index","Trangchu")" style="margin-top:20px">Tiếp tục mua hàng</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


